<div class="col">
      <div class="card">
                    <h2 class="card-title">{{titile]]</h2>
            <h4 class="card-subtitle">{{subtitle}}</h4>
            <small class="card-info">Author: {{author}}</small> <small class="card-info">last updated: {{date}}</small>
            <small class="card-info">tags: webdev</small>
                    <p class="card-body">a whole bunch of text about the stuff and you know man its just like that i dont know why it just is man</p>
                
                <img class="thumbnail" src="hero.jpg" alt="">
            </div>       
        </div>