<div class="row">
                    <div class="col">
                        <img src="{{picture}}" alt="" class="profile">
                        </div>
                         <div class="col bio">
                         {{content | safe}}
                         </div>
                </div>
              <div class="card-body">
                <h3 class="card-subtitle">links</h3>
{{links}}
                </div>