
<div class="col">
<a href="{{post.data.url}}" class="but-art">
<div class="card">
<h2 class="card-title">{{post.data.title}}</h2>
<h5 class="card-subtitle">{{post.data.subtitle}}</h5>
<div class="card-body">
<img src="{{post.data.image}}" class="thumbnail">
</div>
</div>
</a>
</div>