
    <footer class="footer">
        <nav >
            <ul class="nav-foot">
                <li class="foot-item"><a href="/pages/termsOfService">Terms of Service</a></li>
                <li class="foot-item"><a href="/pages/sharePolicey">Share Policey</a></li>
                <li class="foot-item">Contributors</li>
                <li class="nav-space-small"> <a href="/pages/about" class="foot-item">About</a>
                <a href="/pages/contact" class="foot-item">Contact</a>
        </nav></li>
            </ul>
            
        <p class="foot-item">Website created and maintained by Oliver Lund
        </p>
         
  
    </footer>