
    <footer class="footer">
        <nav >
            <ul class="nav-foot">
                <li class="foot-item">Terms of Service</li>
                <li class="foot-item">Share Policey</li>
                <li class="foot-item">Contributors</li>
            </ul>
        </nav>
        <p class="foot-item">Website created and maintained by Oliver Lund
        </p>
         
  
    </footer>