---
title: Tech That Connect
layout: "base.njk"
---
   <h3 class="subtitle">Helping people become more technically literate about the internet</h3>
{%for post in collections.feature%}

     {% include 'card.njk' %}

{%endfor%}