<div class="art-card ">
                    <h2 class="card-title "> {{title}}</h2>
            <h3 class="card-subtitle">{{subtitle}}</h3>
            <small class="card-info">Author: {{author}}</small> <small class="card-info">last updated:{{date}}</small>
            <small class="card-info">tags: {{tags}}</small>
            <div class="card-body"> 
            {{content | safe}}
            
            <h3 class="card-subtitle">share</h3>
            
                </div> 