  <div class="art-card ">
                    <h2 class="card-title ">{{title}}</h2>
            <h3 class="subtitle">{{subtitle}}</h3>
            <div class="card-body"> 
       {{content | safe}}
           
                </div>
                </div>